<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Gallery</title>
  <script
  src="https://kit.fontawesome.com/20f793c713.js"
  crossorigin="anonymous"
></script>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
  <link rel="stylesheet" href="/setting.css">
  <link rel="stylesheet" href="/home.css" />
  <link rel="stylesheet" href="/feed.css" />
  <link rel="stylesheet" href="/explore.css" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
  defer
></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js" defer></script>
  <script src="/home.js" defer></script>
  <script src="/explore.js" defer></script>
</head>
<body>
  <% following = following.sort((a,b)=>{ console.log(a.date - b.date); return a.date.getTime() - b.date.getTime()})%>
  <% following = following.reverse()%>
  <% let followingUserIds = user.following.map(i => i.shift())%>
  <% console.log(recommendedUsers)%>
  <% console.log(user.following.map(i => i.shift()))%>
  <% console.log(recommendedUsers[8]._id.toString())%>
  <% console.log(followingUserIds.includes(recommendedUsers[8]._id.toString()))%>
  <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
  <aside style="background-color: <%=user.themeColor%>;"
    class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left"
    id="show-side-navigation1"
  >
    <i
      class="uil-bars close-aside d-md-none d-lg-none"
      data-close="show-side-navigation1"
    ></i>
    <div
      class="sidebar-header pfp d-flex justify-content-between align-items-center px-3 py-4"
    >
      <div class="borderImg">
        <img class="" width="100" src="<%=user.profileImg%>" alt="" />
      </div>
      <div class="ms-2" style="width: 100%">
        <h5 class="fs-6 mb-0">
          <a
            class="text-decoration-none"
            style="
              width: 100% !important;
              white-space: nowrap;
              font-size: 19px;
            "
            href="/profile"
            ><%= user.displayName%></a
          >
        </h5>
        <span style="color: gray">@<%= user.local.userName%></span>
        <p
          class="mt-1 mb-0"
          style="
            width: 100%;
            height: 55px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          "
        >
          <%= user.bio %> ...
        </p>
      </div>
    </div>

    <div class="search position-relative text-center px-4 py-3 mt-2">
      <input
        type="text"
        class="form-control border-0"
        placeholder="Search here"
      />
    </div>

    <ul class="categories list-unstyled">
      <li class="has-dropdown">
        <i class="fa-solid fa-house"></i>
        <a href="/profile"> Profile</a>
      </li>
      <li class="has-dropdown">
        <i class="fa-sharp fa-solid fa-image"></i>
        <a href="/feed"> Feed</a>
      </li>
      <li class="has-dropdown">
        <i class="fa-solid fa-bell"></i>
        <a href="#"> Activity</a>
      </li>
      <li class="">
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/explore"> Explore</a>
      </li>
      <li class="has-dropdown">
        <i class="fa-solid fa-message"></i>
        <a href="#"> Chat</a>
      </li>
      <li class="has-dropdown openGallery">
        <i class="fa-solid fa-folder-plus"></i>
        <a href=""> Create Gallery / Post</a>
      </li>
      <li class="has-dropdown">
        <i class="fa-solid fa-face-smile"></i>
        <a href="#"> Jerry's Portfolio</a>
      </li>
      <li class="has-dropdown">
        <i class="fa-solid fa-gear"></i>
        <a href="/settings"> Settings</a>
      </li>
      <li class="">
        <i class="fa-solid fa-power-off"></i>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </aside>

  <div class="galleryOverlay">
    <div class="module form-module">
      <div class="closeBtn">
        <i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Click Me</div>
      </div>
      <div class="galleryForm">
        <h2>Create a Gallery</h2>
        <form action="/newGallery" method="post">
          <div class="formInputs">
            <div class="themeChoice">
              <input type="checkbox" name="addsNewTheme" id="hasNewTheme" />
              <select name="theme" class="selectTheme">
                <option value="" disabled selected>Choose a Theme</option>
                <%for(let i = 0; i < themes[0].themes.length; i++){%>
                <option value="<%=themes[0].themes[i]%>">
                  <%=themes[0].themes[i]%>
                </option>
                <%}%>
              </select>
              <input
                type="text"
                placeholder="Add a New Theme"
                name="newTheme"
                class="newThemeInput hidden"
              />
              <span class="switchBtn"
                ><i class="fa-solid fa-repeat"></i
              ></span>
            </div>
            <input type="checkbox" name="hasPost" id="hasPostInForm" />
            <input type="text" placeholder="Enter Gallery Name" name="name" />
          </div>
          <div class="blahBtn">
            <label for="addPostBtn">Quick Add Image to Gallery</label>
            <span type="menu" id="addPostBtn">
              <i class="fa-solid fa-plus"></i>
            </span>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="galleryForm">
        <h2>Create a Post</h2>
        <form action="/newPost" method="post">
          <select name="galleryId" class="">
            <option value="" disabled selected>Choose a Gallery</option>
            <%for(let i = 0; i < galleries.length; i++){%>
            <option value="<%=galleries[i]._id%>"><%=galleries[i].name%></option>
            <%}%>
          </select>
          <input type="text" placeholder="ImgUrl" name="url" />
          <input type="text" placeholder="Caption" name="caption" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="cta">
        <a class="toggleBtn">Create a Post Instead?</a>
      </div>
    </div>
  </div>
  <div id="wrapper">
      <div class="mainSearch">
        <form action="">
          <div class="searchBar">
            <i class="fa-solid fa-magnifying-glass"></i>         
            <input type="text" placeholder="Search for Gallery">
          </div>
          <div class="searchDivider"></div>
          <div class="selectBar">
            <select name="" id="">
              <option value="" disabled selected>Search by Theme</option>
              <%for(let i = 0; i < themes[0].themes.length; i++){%>
                <option value="<%=themes[0].themes[i]%>">
                  <%=themes[0].themes[i]%>
                </option>
                <%}%>
            </select>
          </div>
        </form>
      </div>
      <div class="recommend">
        <div class="carousel">
          <div class="wrap">
            <ul>
              <% for(let i = 0; i < recommendedUsers.length; i++){%>
                <%if(!followingUserIds.includes( recommendedUsers[i]._id.toString() )){%>
                  <%if(recommendedUsers[i]._id.toString() !== user._id.toString()){%>
                <li><img class="recommendedProfile" src="<%=recommendedUsers[i].profileImg%>" alt="">
                  <p><a href="/user/<%=recommendedUsers[i].local.userName%>/<%=recommendedUsers[i]._id%>"><%=recommendedUsers[i].displayName%></a></p>
                </li>
                  <% } %>
                <% } %>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="result">
        <main class="content">
          <div class="feed-grid">
            <%for(let i = 0; i < following.length; i++){%>
            <div class="card-half">
              <div class="galleryPayload"><%= JSON.stringify(following[i].images) %></div>
              <a href="/gallery/<%=following[i]._id%>/<%=following[i].createdBy[0]%>/<%=following[i].createdBy[1]%>" class="card-imgs" style="width: intial;">
                <%for(let j = 0; j < following[i].images.length; j++){%>
                  <div class="previewItem" style="background-image: url(<%=following[i].images[j][0].url%>);"></div>
                <%}%>
              </a>
              <div class="card-text">
                <h4><a href="/gallery/<%=following[i]._id%>/<%=following[i].createdBy[0]%>/<%=following[i].createdBy[1]%>"><%=following[i].name%></a></h4>
                <p><%=following[i].theme%></p>
              </div>
              <ul class="card-tools">
                <li class="tools-item"><i class="fa fa-heart like"></i><span class="tools-count"><%=following[i].likes.length%></span></li>
                <li class="tools-item"><i class="fa-solid fa-retweet"></i><span class="tools-count"><%=following[i].repostedBy.length%></span></li>
                <li class="tools-item"><span class="label"><i class="fa-regular fa-star"></i></span><span class="tools-count">0</span></li>
              </ul>
              <a href="/user/<%=following[i].createdBy[1]%>/<%=following[i].createdBy[0]%>" class="galleryOwner"><p>by: <%=following[i].createdBy[1] %></p></a>
            </div>
            <%}%>
          </div>
        </main>
      </div>
  </div>
  </div><!-- /.container -->
  </div>
</body>
</html>